# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cover.html
.idea

# Linux .directory settings
.directory

# vscode settings directory
.vscode
.idea

# executables
main
debug
event_registration

# release zip
events_be_binaries.zip

# Docker Compose
docker-compose.yml

# SQLite database files
*.db

# Uploaded files
*.jpg
*.png
